<div class="pure-u-1-5">
  <button id="process" class="pure-button pure-button-primary">Process</button>
</div>
<div id="result" class="pure-u-4-5 admin-result">

</div>
<script>
    var JLog = $('#result');

    var print = function(data) {
        JLog.append( '<p>' + data + '</p>' ) ;
        $(document).scrollTop($('body').height());
    };

    var process = function(){
        if($(this).prop("disabled")) return;
        $(this).prop("disabled", true );
        var that = this;

        $.ajax({
            url: '<%= admin_scan_path %>'
        }).always(function(){
            $(that).prop("disabled", false );
        });

        var con = new WebSocket('ws://localhost:8000/');

        con.onmessage = function(message){
            print(message.data);
        };

        con.onopen = function () {
            con.send('start');
        };

    };

    $('#process').click(process);


</script>