<div class="pure-u-1-5">
  <button id="new" class="pure-button lss-button lss-button-blue">Find New</button>
  <button id="all" class="pure-button lss-button lss-button-red">Refresh All</button>
</div>
<div id="result" class="pure-u-4-5 admin-result">

</div>
<script>
    (function(){
        var JLog = $('#result');

        var show_message = function(data) {
            JLog.append( '<p>' + data + '</p>' ) ;
            $(document).scrollTop($('body').height());
        };

        var process = function(mode){
            return function(){
                if($(this).prop("disabled")) return;
                $(this).prop("disabled", true );
                JLog.empty();
                var that = this;

                $.ajax({
                    url: '/admin/scan/' + mode
                }).always(function(){
                    $(that).prop("disabled", false );
                });

                // wait two seconds and start ws
                JLog.append( '<h3>The process will start in 2 seconds</h3>' ) ;
                setTimeout(ws_talk, 2000);

            };
        };

        var ws_talk = function(){
            var con = new WebSocket('<%= Rails.application.config.admin_web_socket %>');

            con.onmessage = function(message){
                show_message(message.data);
            };

            con.onopen = function () {
                con.send('start');
            };
        };

        $('#new').click(process(<%= AdminController::NEW_MODE %>));
        $('#all').click(process(<%= AdminController::FULL_MODE %>));
    })();
</script>