<div class="pure-u-1-5">
  <button id="new" class="pure-button pure-button-primary">Find New</button>
  <button id="all" class="pure-button pure-button-primary">Refresh All</button>
</div>
<div id="result" class="pure-u-4-5 admin-result">

</div>
<script>
    var JLog = $('#result');

    var print = function(data) {
        JLog.append( '<p>' + data + '</p>' ) ;
        $(document).scrollTop($('body').height());
    };

    var process = function(mode){
        return function(){
            if($(this).prop("disabled")) return;
            $(this).prop("disabled", true );
            JLog.empty();
            var that = this;

            $.ajax({
                url: '/admin/scan/' + mode
            }).always(function(){
                $(that).prop("disabled", false );
            });

            var con = new WebSocket('ws://localhost:8000/');

            con.onmessage = function(message){
                print(message.data);
            };

            con.onopen = function () {
                con.send('start');
            };
        };
    };

    $('#new').click(process(<%= AdminController::NEW_MODE %>));
    $('#all').click(process(<%= AdminController::FULL_MODE %>));


</script>