<div class="pure-u-1-5">
  <button id="scan-videos" class="pure-button pure-button-primary">SCAN Videos</button>
  <button id="clean-up" class="pure-button pure-button-primary">Clean Up</button>
</div>
<div class="pure-u-4-5">
    <ul id="result"></ul>
</div>
<script>
  var check = function( remote_path ){
        return function(){
        if($(this).prop("disabled")) return;
        $(this).prop("disabled", true );
        var that = this;
        var JLog = $('#result');

        $.ajax( remote_path )
              .done(function() {
                  JLog.empty().append( '<li>Finished</li>' );
              })
              .fail(function() {
                  JLog.empty().append( '<li>Error</li>' );
              })
              .always(function() {
                  $(that).prop("disabled", false );
              });
      }
  }
  $('#scan-videos').click(check('<%= admin_scan_path %>'));
  $('#clean-up').click(check('<%= admin_clean_path %>'));

</script>