<div class="pure-u-1-2">
  <p id="notice"><%= notice %></p>

  <h3>
    Hi, <%= @user.name %>
  </h3>

  <%= link_to button_tag(type: 'button', class: 'pure-button lss-button lss-button-red') {'Logout'}, logout_url, method: 'delete' %>

</div>
