(function() {
    // handle original player if there's one
    try {
        $('#overlay').remove();
        $('video')[0].src = '';
        $('#player').remove();
    } catch(e) {

    }
    // handle click on overlay
    var removePlayer = function(){
            $('#overlay').fadeOut('slow', function(){$(this).remove();});
            $('#player').fadeOut('slow', function(){
                $('video')[0].src = '';
                $(this).remove();
            });
    };


    var JBody = $('body');

    JBody.append('<div id="overlay" class="overlay"></div>');

    JBody.append("<%= escape_javascript(render 'show') %>");

    var JPlayer = $('#player');
    var JVideo = $('video');
    var JOverlay = $('#overlay');
    var JSubDiv = $('#subtitler');

    var placePlayer = function() {
        var avaHeight = $(window).height();
        var avaWidth = $(window).width();
        var avaRatio = avaWidth / avaHeight;
        var oriWidth = <%= @video.width %>;
        var oriHeight = <%= @video.height %>;
        var width = oriWidth;
        var height = oriHeight;
        var oriRatio = oriWidth / oriHeight;
        if ( avaRatio > oriRatio ) {
            if ( avaHeight < oriHeight ) {
                height = avaHeight;
                width = oriWidth * ( avaHeight / oriHeight );
            }
        } else {
            if ( avaWidth < oriWidth ) {
                width = avaWidth;
                height = oriHeight * ( avaWidth / oriWidth )
            }
        }
        var top = ( avaHeight - height ) / 2 ;
        var left = ( avaWidth - width ) / 2 ;
        JPlayer.css( 'top', top );
        JPlayer.css( 'left', left );
        JVideo.css('width', width);
        JVideo.css('height', height);

        // subtitle

        if ( JSubDiv ) {
        JSubDiv.css( 'top', height - 80 );
        }

        // overlay
        JOverlay.height(Math.max( JBody.height(), avaHeight));
    };
    placePlayer();
    JPlayer.fadeIn('slow');
    $( window ).resize(function() {
        placePlayer();
    });

    var video =JVideo[0];
    video.volume = 0.8;
    video.play();
    JVideo.click(function(e){ // no pause
        e.preventDefault();
    });

    JOverlay.fadeIn('slow');
    JOverlay.click(removePlayer);
    $(document).keyup(function(e) {
        if (e.keyCode == 27) removePlayer();
    });


})();

