(function() {
    $('.overlay').remove();
    $('.player').remove();

    var JBody = $('body');

    JBody.append('<div class="overlay"></div>');

    JBody.append("<%= escape_javascript(render 'show') %>");

    LBP.options = {
        hideControlsTimeout: 2,
        volumeRates: 10,
        defaultVolume: 8,
        seekSkipSec: 5,
        showSubtitles: true
    };

    var JPlayer = $('.player');
    var top = ( $(window).height() - <%= @video.height %> ) / 2 ;
    var left = ( $(window).width() - <%= @video.width %> ) / 2 ;
    JPlayer.css( 'top', top );
    JPlayer.css( 'left', left );
    JPlayer.fadeIn('slow');

    var JOverlay = $('.overlay');
    JOverlay.click(function(){
        JPlayer.fadeOut('slow', function(){$(this).remove()});
        JOverlay.fadeOut('slow', function(){$(this).remove()});
    });

    JOverlay.height(JBody.height());
    JOverlay.fadeIn('slow');



    LBP.init();

})();

