(function() {
    // handle original player if there's one
    try {
        $('#overlay').remove();
        $('video')[0].src = '';
        $('#player').remove();
    } catch(e) {

    }
    // handle click on overlay
    var removePlayer = function(){
            $('#overlay').fadeOut('slow', function(){$(this).remove();});
            $('#player').fadeOut('slow', function(){
                $('video')[0].src = '';
                $(this).remove();
            });
    };


    var JBody = $('body');

    JBody.append('<div id="overlay" class="overlay"></div>');

    JBody.append("<%= escape_javascript(render 'show') %>");

    var JPlayer = $('#player');

    var placePlayer = function() {
        var top = ( $(window).height() - <%= @video.height %> ) / 2 ;
        var left = ( $(window).width() - <%= @video.width %> ) / 2 ;
        JPlayer.css( 'top', top );
        JPlayer.css( 'left', left );
    }
    placePlayer();
    JPlayer.fadeIn('slow');
    $( window ).resize(function() {
        placePlayer();
    });

    var video = $('video')[0];
    video.volume = 0.8;


    $('#overlay').height(JBody.height());
    $('#overlay').fadeIn('slow');
    $('#overlay').click(removePlayer);


})();

