(function() {

    var JBody = $('body');

    JBody.append('<div class="overlay"></div>');

    JBody.append(
        "<%= escape_javascript(render file: 'videos/show.html.erb') %>"
    );

    LBP.init();

    $('.overlay').click(function(){
        $('.player').fadeOut('slow', function(){$(this).remove()});
        $('.overlay').fadeOut('slow', function(){$(this).remove()});
    });

    $('video').bind( 'error', function(){ // try to replay it in case of errors
        var time = this.currentTime;
        this.load();
        this.play();
        $(this).bind( 'canplay', function(){
            this.currentTime = time;
            $(this).unbind('canplay');
        } );

    } );

})();

