<div id="video-list" class="pure-u-1">
    <% @videos.each_with_index do |video, i| %>
        <div data-seq="<%= i + 1 %>" class="unit">
          <a href="/videos/<%= video.id %>" data-remote="true">
            <img class="small-cover" src="<%= image_url(video) %>">
          </a>
          <div class="info">
            <%= video.name %>
          </div>
        </div>
    <% end %>
</div>
