<!DOCTYPE html>
<html>
<head>
  <title>My Video House</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
    <ul >
      <li><button class="pure-button button-current pure-button-active">Movie</button></li>
      <li><button class="pure-button">MV</button></li>
      <li><button class="pure-button">Show</button></li>
    </ul>
</div>
<%= yield %>

</body>
</html>
